{% extends 'base.html' %}
{% block content %}

            <!-- flash message -->
{% with f_msg = get_flashed_messages() %}
    {% if f_msg %}
        {% for msg in f_msg %}
        {% set res_list = msg.split(';') %}
        <div class="result-alert">
            <span class="RACloseBtn" onclick="this.parentElement.style.display='none';">[&times;]</span>
            <!--<span class="RACloseBtn" onclick="this.parentElement.style.display='none';">[close]</span>-->
            <b> {{ res_list[0] }} </b>
            <div style="width: 100%; background:#ddd;">
                <div style="width: {{ res_list[3] }}%; height: 30px; background-color: #ff6600; text-align: center; line-height: 30px; color: white;">
                {{ res_list[3] }}%
                </div>
            </div>
            {{ res_list[1] }} <br> <i>{{ res_list[2] }}</i>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Quiz -->
<form class="quiz" action="/" method="POST">
    <div class="quiz-popup">
        <div class="quiz-area">
            {% for message in ques %}
                <div class="que-msg" id="dyn"><span class="opt-msg">
                <!-- Question 1 -->
                {% if message[:2] == '1.': %}
                    {% set list1 = message.split(';') %}
                    {% for item1 in list1 %}
                        {% if item1[:2] == '1.': %}
                            <b>{{ item1 }}</b><br>
                        {% else %}
                            <input type="radio" name="q1options" id="{{item1}}" value="{{item1}}">{{item1}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 2 -->
                {% if message[:2] == '2.': %}
                    {% set list1 = message.split(';') %}
                    {% for item2 in list1 %}
                        {% if item2[:2] == '2.': %}
                            <b>{{ item2 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q2options" id="{{item2}}" value="{{item2}}">{{item2}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 3 -->
                {% if message[:2] == '3.': %}
                    {% set list1 = message.split(';') %}
                    {% for item3 in list1 %}
                        {% if item3[:2] == '3.': %}
                            <b>{{ item3 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q3options" id="{{item3}}" value="{{item3}}">{{item3}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 4 -->
                {% if message[:2] == '4.': %}
                    {% set list1 = message.split(';') %}
                    {% for item4 in list1 %}
                        {% if item4[:2] == '4.': %}
                            <b>{{ item4 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q4options" id="{{item4}}" value="{{item4}}">{{item4}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 5 -->
                {% if message[:2] == '5.': %}
                    {% set list1 = message.split(';') %}
                    {% for item5 in list1 %}
                        {% if item5[:2] == '5.': %}
                            <b>{{ item5 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q5options" id="{{item5}}" value="{{item5}}">{{item5}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 6 -->
                {% if message[:2] == '6.': %}
                    {% set list1 = message.split(';') %}
                    {% for item6 in list1 %}
                        {% if item6[:2] == '6.': %}
                            <b>{{ item6 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q6options" id="{{item6}}" value="{{item6}}">{{item6}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 7 -->
                {% if message[:2] == '7.': %}
                    {% set list1 = message.split(';') %}
                    {% for item7 in list1 %}
                        {% if item7[:2] == '7.': %}
                            <b>{{ item7 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q7options" id="{{item7}}" value="{{item7}}">{{item7}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 8 -->
                {% if message[:2] == '8.': %}
                    {% set list1 = message.split(';') %}
                    {% for item8 in list1 %}
                        {% if item8[:2] == '8.': %}
                            <b>{{ item8 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q8options" id="{{item8}}" value="{{item8}}">{{item8}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 9 -->
                {% if message[:2] == '9.': %}
                    {% set list1 = message.split(';') %}
                    {% for item9 in list1 %}
                        {% if item9[:2] == '9.': %}
                            <b>{{ item9 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q9options" id="{{item9}}" value="{{item9}}">{{item9}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Question 10 -->
                {% if message[:3] == '10.': %}
                    {% set list1 = message.split(';') %}
                    {% for item10 in list1 %}
                        {% if item10[:3] == '10.': %}
                            <b>{{ item10 }}</b> <br>
                        {% else %}
                            <input type="radio" name="q10options" id="{{item10}}" value="{{item10}}">{{item10}}</input><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </span></div>
            {% endfor %}
        </div>
        <div class="email">
            <input id="useremail" type="text" name="email" placeholder="Enter your email id and submit the Quiz" required/>
            <button class="r-button" type="submit">Submit</button>
            <button class="c-button" type="submit" formnovalidate > Cancel</button>
        </div>
    </div>
</form>
{% endblock %}

